<div id="alertsPage" class="widgets">

    <div class="slider">
        <div class="slider-title">Receive notification when responses by minute be greather than</div>
        <ion-slider type="single" grid="false" min="0" max="20" from="limit" disable="false" on-finish="changeResponsesLimit">
        </ion-slider>
    </div>

    <div ng-if="!notifications.messages.length">
        <h3>There are no notifications</h3>
    </div>

    <div ng-if="notifications.messages.length">

        <table class="table table-striped">
            <thead>
            <tr>
                <th width="60%">Event</th>
                <th width="15%">Event Date</th>
                <th width="10%">Responses</th>
                <th width="15%">Date</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in notifications.messages">
                <td class="table-id"><a href="" ng-click="showEvent(item.event.event_id)">{{item.event.event_name}}</a></td>
                <td>{{item.event.time | date : "medium"}}</td>
                <td align="center">{{item.count}}</td>
                <td>{{item.time | date : "medium"}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
